@media (min-width: 380px) {
    #subtitle {
        font-size: 100%!important;
    }
}

header {
    margin-bottom: 15px;
    border-bottom: solid 1px #D4D4D4;
}

#subtitle {
    font-size: 4vw;
}

footer {
    text-align: center;
}